@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
}

.left-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

img {display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 600px;
}

ul{
  list-style-type: none;
}

a{
  color: gray;
  text-decoration: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: lightgray;
  font-weight: 600;
}